body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    max-width: 800px;
}
.canvas{
    background-color: white;
    border:1px black;
    position:absolute;
}

#canvas-draft{
    background-color: transparent;
}
#button-box {
    width: 120px;
}
#picker-box {
    height : 100px;
}
.container-button {
    position: absolute;
    padding: 20px 0 0 20px;
    height: 100%;
    width: 150px;
    z-index: 5;
}
.container-picker {
    position: absolute;
    padding: 10px 0 10px 300px;
} 
label {
    width: 40px;
    height: 40px;
}
#color-input {
    display: none;
}
#color-picker {
    display: none;
}