body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}
.canvas{
    background-color: white;
    border:1px black dotted;
    position:absolute;
    top:180px;
    bottom:0px;
    left:200px;
    right:0px
}
#canvas-draft{
    background-color: transparent;
}
#canvas-container{
    height:550px;
} 
.container-button {
    position: absolute;
    padding: 20px 0 0 20px;
    height: 100%;
    width: 150px;
    z-index: 5;
}
.container-picker {
    position: absolute;
    padding: 10px 0 10px 300px;
} 
label {
    width: 40px;
    height: 40px;
}
#color-input {
    display: none;
}
#color-picker {
    display: none;
}